* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ebee;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #4165b1;

  h1 {
    color: #fff;
  }

  margin-bottom: 20px;
}

.post {
  background-color: #f8f8f8;
  width: 500px;
  margin: 0 auto;
  padding: 30px 20px;

  p {
    color: #757373;
    font-size: 14px;
    line-height: 1.5rem;
  }

  .post-header {
    padding-bottom: 10px;
    display: flex;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50px;
    }

    .title {
      padding: 10px;

      h2 {
        color: #4d4949;
        font-weight: 400;
      }

      span {
        color: #757373;
        font-size: 10px;
      }
    }
  }

  box-shadow: 2px 2px #8888882f;
}
